* {
  font-family: 'Cute Font', cursive;

}

body {
  overflow: hidden;
  color: white;
  background-color: black;
  text-shadow: 2px 2px 4px black;

}

button {
  background: transparent;
  border: 0;
  text-shadow: 2px 2px 4px black;
  transition: 0.3s;

}

button:hover {
  color: #808080;
  transform: scale(1.1);
}
#maze_container {
    position: relative;
    display: inline-block;
    margin-top: 18px;
}

#start-menu, #finish_screen, #how-to-play-screen{
  position: relative;
  display: inline-block;
  background-color: black;
  width: 670px;
  height: 670px;
  border: 1px solid black;
  margin-top: 18px;
  border-image: url("images/stone.jpg") 20 round;
  border-image-width: 20;
  background-image: url("images/wood.jpg");
  background-repeat: repeat;
}

#maze {
  background-image: url("images/wood.jpg");
    background-size: 8em 8em
}
#maze div {
    display: flex
}

#maze div div {
    position: relative;
    width: 20px;
    height: 20px;
}

#maze div div.wall {
  background-image: url("images/stone.png");

}

#maze div div.exit, .entrance {
  background-image: url("images/door.png");
  width: 20px;
  height: 20px;
}

body {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    background: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
}


#character {
  position: absolute;
  background-image: url("images/character.png");
  width: 20px;
  height: 20px;
  bottom: 20px;
  left: 220px;
}


h1 {
  padding-top: 20px;
  font-size: 160px;
}

h2 {
  font-size: 80px;
  text-shadow: 6px 6px 6px black;

}

h3 {
  font-size: 40px;
}

.stars h4 {
  padding-bottom: 30px;
}

h4 {
  margin: 0px;
  font-size: 30px;
}

#arrow-key-description {
  font-size: 30px;
  float: left;
  width: 300px;
  padding: 50px;
}

#second-description {
  font-size: 30px;
  float: left;
  width: 400px;
  padding-top: 60px;
  padding-right: 50px;
  padding-left: 50px;
}

#diamond_big {
  float: left;
  padding-top: 300px;
  padding-left: 10px;
}

#coin_big {
  float: left;
  padding-top: 380px;
  padding-right: 80px;

}
#how-to-play-screen img {
  position: absolute;

}

.play-again, .back-to-menu-button {
  font-size: 30px;
  border-image: url("images/stone.jpg") 20 round;

}

.score{
  display: inline-block;
  float: left;
  margin-left: 190px;
  margin-right: 100px

}
