* {
  font-family: 'Cute Font', cursive;

}

body {
  overflow: hidden;
  color: white;
  background-color: black;
}

button {
  background: transparent;
  border: 0;
}
#maze_container {
    position: relative;
    display: inline-block;
    margin-top: 18px;
}

#start-menu, #finish_screen{
  position: relative;
  display: inline-block;
  background-color: black;
  width: 670px;
  height: 670px;
  border: 1px solid black;
  margin-top: 18px;
  border-image: url("images/stone.jpg") 20 round;
  border-image-width: 20;
  background-image: url("images/wood.jpg");
  background-repeat: repeat;





}

#maze {
  background-image: url("images/wood.jpg");
    background-size: 8em 8em
}
#maze div {
    display: flex
}

#maze div div {
    position: relative;
    width: 20px;
    height: 20px;
}

#maze div div.wall {
  background-image: url("images/stone.png");

}

#maze div div.exit, .entrance {
  background-image: url("images/door.png");
  width: 20px;
  height: 20px;
}

body {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    background: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
}


#character {
  position: absolute;
  background-image: url("images/character.png");
  width: 20px;
  height: 20px;
  bottom: 0px;
  left: 220px;
}


h1 {
  padding-top: 110px;
  font-size: 50px;
}
